.grid {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 40% 57%;
    column-gap: 3%;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 100%;
        row-gap: 1rem;
    }
}
