.container {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 800px;
}

.flexImageContainer {
    display: flex;
    justify-content: center;
}

.grid {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 40% 57%;
    column-gap: 3%;
}

.contactText {
    text-align: center;
}

@media screen and (max-width: 619px) {
    .grid {
        grid-template-columns: 100%;
        row-gap: 1rem;
    }
}
