.container {
    display: flex;
    flex-direction: column;
}

.container a img {
    margin: 8px;
    border: 1px solid #e6e6e6;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.normalHeading {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
}

.denseHeading {
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.text h6 {
    margin: 0.5rem 0.5rem;
}

.hide {
    display: none;
}

.subTitle {
    margin: 0rem 0.5rem 1rem 0.5rem;
}
