.container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
}

.container img {
    margin: 0.5rem;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.text h5 {
    margin: 1rem 0.5rem;
}

.text h6 {
    margin: 0.5rem 0.5rem;
}

.source {
    color: var(--secondary-font-color);
}

.date {
    color: var(--tertiary-font-color);
}
