.container {
    display: flex;
    justify-content: center;
    --grid-column-width: calc((var(--body-width) - 9rem) / 8);
    --grid-min-span: 2;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
        calc(var(--grid-min-span) * 4),
        var(--grid-column-width)
    );
}

.grid div {
    grid-column-end: span var(--grid-min-span);
}

.mod4r1 div:last-child {
    grid-column-start: 4;
}

.mod4r2 div:nth-last-child(2) {
    grid-column-start: 3;
}

.mod4r3 div:nth-last-child(3) {
    grid-column-start: 2;
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    .grid {
        grid-template-columns: repeat(
            calc(var(--grid-min-span) * 3),
            var(--grid-column-width)
        );
    }

    .mod3r0 div:last-child,
    .mod3r1 div:nth-last-child(2),
    .mod3r2 div:nth-last-child(3) {
        grid-column-start: 5;
    }

    .mod3r0 div:nth-last-child(3) {
        grid-column-start: 1;
    }

    .mod3r1 div:last-child,
    .mod3r1 div:nth-last-child(3) {
        grid-column-start: 3;
    }

    .mod3r2 div:nth-last-child(2) {
        grid-column-start: 2;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    .grid {
        grid-template-columns: repeat(
            calc(var(--grid-min-span) * 2),
            var(--grid-column-width)
        );
    }

    .mod2r0 div:last-child,
    .mod2r0 div:nth-last-child(3) {
        grid-column-start: 3;
    }

    .mod2r0 div:nth-last-child(2),
    .mod2r1 div:nth-last-child(3) {
        grid-column-start: 1;
    }

    .mod2r1 div:last-child {
        grid-column-start: 2;
    }
}

@media screen and (max-width: 599px) {
    .grid {
        grid-template-columns: repeat(
            var(--grid-min-span),
            var(--grid-column-width)
        );
    }

    .mod4r1 div:last-child,
    .mod4r2 div:nth-last-child(2),
    .mod4r3 div:nth-last-child(3) {
        grid-column-start: 1;
    }
}
