.textBody p {
    line-height: 1.5;
    text-align: justify;
}

.textBody p:first-child {
    margin-block-start: 0;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.imageContainer div img {
    max-width: 100%;
}
