.textBody p {
    line-height: 1.5;
    text-align: justify;
}

.textBody p:first-child {
    margin-block-start: 0;
}

.textBodyCentred {
    composes: textBody;
}

.textBodyCentred p {
    text-align: center;
}

.hide {
    display: none;
}
