.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.container div {
    display: flex;
    flex-direction: column;
}

.container div img {
    max-width: 100%;
}

.border {
    border: #d9d9d9 solid 1px;
    padding: 10px;
}

.caption {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 0.5rem;
}
