.footer {
    width: 100%;
    height: 4rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    composes: imgOverride from "./Common.module.css";
    height: 1.5rem;
}
