/* global styles */

html,
body {
    padding: 0;
    margin: 0;
    font-family: europa, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    color: var(--font-color-1);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

button {
    border: none;
    padding: 0;
    background-color: white;
}

/* custom properties */

:root {
    /* font colours */

    --font-color-1: #333333;
    --font-color-2: #2f4858;
    --font-color-3: #658a8c;

    /* colours */

    --accent-grey-1: #f2f2f2;
    --accent-grey-2: #e6e6e6;

    --highlight-color-1: #e2f0d9;

    /* spacing and layout */

    --body-width: 1200px;
}
