/* fonts */

@font-face {
    font-family: HKGrotesk;
    src: url("/HKGrotesk-Light.woff2");
}

@font-face {
    font-family: HKGrotesk;
    src: url("/HKGrotesk-Bold.woff2");
    font-weight: bold;
}

/* global styles */

html,
body {
    padding: 0;
    margin: 0;
    font-family: HKGrotesk, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    color: var(--font-color-1);
    background-color: var(--background-color-1);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

button {
    border: none;
    padding: 0;
    background-color: transparent;
}

/* custom properties */

:root {
    /* font colours */

    --font-color-1: #333333;
    --font-color-2: #2f4858;
    --font-color-3: #658a8c;

    /* colours */

    --accent-grey-1: #f2f2f2;
    --accent-grey-2: #e6e6e6;
    --accent-grey-3: #d9d9d9;
    --accent-grey-4: #cccccc;
    --accent-grey-5: #bfbfbf;
    --accent-grey-6: #b3b3b3;
    --accent-grey-7: #a6a6a6;
    --accent-grey-8: #999999;
    --accent-grey-9: #8c8c8c;
    --accent-grey-10: #808080;

    --highlight-color-1: #e2f0d9;

    --background-color-1: #f2f2f2;

    /* spacing and layout */

    --body-width: 1200px;

    /* link styling */

    --link-bottom-border: var(--font-color-1) solid 0.25rem;
}
