/* global styles */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

button {
    border: none;
    padding: 0;
    background-color: white;
}

/* custom properties */

:root {
    --main-highlight-color: #e2f0d9;
    --secondary-font-color: #2f4858;
    --tertiary-font-color: #658a8c;
    --main-font-color: black;
    --secondary-background-color: #edebe0;
    --body-width: 1200px;
}
