.header {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleBar {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.titleBar h1 {
    font-size: 1rem;
}

.logo {
    height: 4rem;
    margin-right: 0.5rem;
}
