.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.igLinkContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--accent-grey-3);
    padding: 1rem;
    column-gap: 2.5%;
}

.igLink img {
    max-height: 10rem;
}

.link {
    padding: 0.2rem;
}

.link:hover,
.link:focus,
.link:active {
    border-bottom: var(--font-color-1) solid 4px;
}

@media screen and (max-width: 899px) {
    .igLink:last-child {
        display: none;
    }
}

@media screen and (max-width: 619px) {
    .igLink:nth-last-child(2) {
        display: none;
    }
}
