.container {
}

.igLinkContainer {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-background-color);
    padding: 1rem;
    margin: 0 1rem;
    column-gap: 2.5%;
}

.igLink {
}

.igLink img {
    max-height: 10rem;
}

.link {
    text-decoration: underline;
}

@media screen and (max-width: 899px) {
    .igLink:last-child {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .igLink:nth-last-child(2) {
        display: none;
    }
}
