.nav {
    width: 100%;
    padding: 1rem;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.list li a {
    /* text-transform: uppercase; */
    font-weight: bold;
    padding: 0.2rem;
}

.list li a:hover,
.list li a:focus,
.list li a:active {
    text-decoration: underline;
    background-color: var(--main-highlight-color);
}
