.nav {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.list li a {
    font-weight: bold;
    padding: 0.2rem;
}

.list li a:hover,
.list li a:focus,
.list li a:active {
    text-decoration: underline;
    background-color: var(--main-highlight-color);
}

.hamburgerSlice {
    width: 1.4rem;
    height: 2px;
    background-color: var(--main-font-color);
    margin: 0.25rem 0;
}

.hamburgerButton {
    display: none;
}

@media screen and (max-width: 600px) {
    .hamburgerButton {
        display: block;
    }

    .list {
        display: none;
    }

    .listResponsive {
    }
}
